{% extends 'base.html.twig' %}

{% block title %}{{ name }}{% endblock %}

{% block body %}

   <div id="js-tasks-wrapper"></div>

{% endblock %}


{% block javascripts %}

    {{ parent() }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.3/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>

    <script type="text/babel" src="{{ asset('js/tasks.react.js') }}"></script> 

    <script type="text/babel">
        var tasksUrl = '{{ path('taskreact_homepage') }}';

        ReactDOM.render(
          <TaskSection url={tasksUrl} />,
          document.getElementById('js-tasks-wrapper')
        );
    </script>

{% endblock %}
